{% extends 'mod_container.html5.twig' %}

{% block content %}
	<form class="form" method="post">
		<input type="hidden" name="TL_FORM" value="twitter_connect_{{ id }}">
		<input type="hidden" name="REQUEST_TOKEN" value="{{ REQUEST_TOKEN }}">
		<input type="image" src="assets/twitter-connect/images/twitter.svg" alt="{{ _lang.MSC.twitter_connect }}">
	</form>
{% endblock %}